<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>History</title>
</head>

<p></p>
		<p></p>
		<p></p>
		<u><h1 align="center" >History:</h1></u>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	<body style="background-color:powderblue;">
		<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ date1 }}</th>
      <td>{{ url1 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date2 }}</th>
      <td>{{ url2 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date3 }}</th>
      <td>{{ url3 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date4 }}</th>
      <td>{{ url4 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date5 }}</th>
      <td>{{ url5 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date6 }}</th>
      <td>{{ url6 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date7 }}</th>
      <td>{{ url7 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date8 }}</th>
      <td>{{ url8 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date9 }}</th>
      <td>{{ url9 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ date10 }}</th>
      <td>{{ url10 }}</td>
    </tr>
  </tbody>
</table>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

<div style="text-align:center">
<h3><a href="/history/?page=1">{{ p1 }}</a> <a href="/history/?page=2">{{ p2 }}</a> <a href="/history/?page=3">{{ p3 }}</a> <a href="/history/?page=4">{{ p4 }}</a> <a  href="/history/?page=5">{{ p5 }}</a></h3>
<a href="/history/?previouspage=True" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Previous Page!</a> <a href="/history/?nextpage=True" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Next Page!</a>
</div>