  <header>
  </header>

  <main>
  <article>
    <h1>Achtung!</h1>
    <p>Achtung, bitte passen Sie auf, denn auf dieser Website ist sehr viel Werbung und auch sehr viele Popups.
    Doch Dank unseren Ad-Blocker, werden viele Ads blockiert.</p>

  </article>

  <aside>
    <section>
      <h2>Kontakt</h2>
      <ul>
        <li><a href="https://github.com/jusoftdev/">Github</a></li>
        <li><a href="https://github.com/Lynix152/Jusoft-Browser">Genaueres 	&uuml;ber den Browser</a></li>
        <li><a href="https://discord.gg/XjMYtePkwu">Discord</a></li>
      </ul>
    </section>

    <section>
    <h2>Weiter:</h2>
        <li><a href="seite.py">Weiter zur Seite</a></li>
    </section>
  </aside>
  </main>
